* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: blueviolet;
}

h1 {
    margin-top: 30px;
    color: sandybrown;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 3rem;

}

header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: indigo;
    color: sandybrown;
    padding: 0 5%;
}

header ul {
    display: flex;   
    

}

#logo-mark {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    }

.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.menu-btn span {
    
    width: 100%;
    height: 3px;
    background-color: white;
}

nav li {
    color: sandybrown;
    list-style: none; 
    margin: 0 1rem;
    text-align: justify;
}

header a {
    text-decoration: none;
    color: sandybrown;
    font-size: 1.5rem;
}

header li a:hover {
    background-color: sandybrown;
    color: purple;
    padding: 5px;
    border-radius: 5px;
    
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: dimgrey;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer:target {
    display: block;
}

#side-drawer header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: indigo; */
    color: sandybrown;
    padding: 0 5%;
}

#side-drawer ul {
    list-style: none;
    margin: 0;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#side-drawer li {
    /* padding-bottom: 1rem; */
    margin: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
}

#side-drawer li a {
        text-decoration: none;
        color: sandybrown;
    }

section {
    width: 80%;
    margin: 2rem auto;
}
#together {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem ;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    border-radius: 8px;
}



.food-item {
    background-color: whitesmoke;
    list-style-type: none;
    border-radius: 6px;
    overflow: hidden;
} 


img {
    height: 15rem;
    width: 100%;
    list-style-image: none;
    object-fit: cover;
}

.food-item-content {
    text-align: center;
    padding: 0.6rem 0.1rem;
    font-size: 200%;
    
}

.food-item-content p {
    color: purple;
    text-transform: capitalize;
}
.food-item-content a {
    background-color: goldenrod;
    /* margin-top: 4px; */
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    /* margin-bottom: 34px; */
    font-size: 10px;
    color: aliceblue;
}

.food-item-content a:hover {
    background-color: palevioletred;
} 


@media (max-width: 48rem) {
      
    h1 {
        font-size: 1.5rem;
    }

    .menu-btn {
        display: flex;
    }

    header ul {
        display: none;
    }

    #together {
     grid-template-columns: 100%;
    }
    
    
    /* #logo-mark {
        margin: 0 auto;
    } */
}